.language_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #001f3f, #2a5470);
  color: #fff;
  padding: 20px;
  max-width: 450px;
  border-radius: 8px;
}
